.novisibility {
  visibility: hidden;
  height: 0;
}
.menuElementsParametrs {
  height: 30px;
  width: 30px;
}
.buttonHeader {
  background-repeat: no-repeat;
  background-size: 100%;
}
.initial-block .initial-block-welcome > :nth-child(n) {
  margin: 10px;
  text-align: center;
}
.initial-block .initial-block-welcome {
  background-image: url("image/sliderBackground.jpg");
  background-size: 150% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.initial-block .initial-block-welcome .sub-title {
  margin-top: 25%;
  color: white;
  font-size: 25px;
  font-family: "Dancing Script";
}
.initial-block .initial-block-welcome h1 {
  color: white;
  font-size: 50px;
  font-family: "Playfair Display";
}
.initial-block .initial-block-welcome .initial-block-welcome-desc {
  color: white;
  font-family: "Open Sans Condensed";
  font-weight: 700;
}
.initial-block .initial-block-welcome button {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.initial-block .initial-block-welcome button:hover {
  color: black;
  background-color: white;
}
.sub-title {
  color: black;
  font-size: 25px;
  font-family: "Dancing Script";
}
h2 {
  font-size: 30px;
  font-family: "Playfair Display";
  text-align: justify;
  letter-spacing: 3px;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart a {
  text-align: center;
  color: black;
  position: relative;
}
.cart a:hover {
  transform: scale(1.03) translateZ(0);
}
.cart a .proposal-img {
  width: 200px;
}
.cart .title {
  font-size: 20px;
  font-family: "Playfair Display";
  text-transform: uppercase;
}
.cart .dsc-block_cart-description {
  font-family: "Open Sans Condensed";
  font-size: 15px;
  text-align: center;
}
.proposal-block {
  background-color: #fff0e9;
}
.proposal-table {
  background-color: white;
  position: absolute;
  left: 25%;
  top: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  justify-content: space-evenly;
}
.proposal-cart-title {
  font-family: "Open Sans Condensed";
  font-size: 20px;
}
.proposal-desc {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 15px;
}
.cart > :nth-child(n) {
  margin: 10px;
}
.statistic-block {
  background-image: url("image/ststisticBackground.jpg");
  background-size: 100%;
}
.shop-block .filter-ways {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.shop-block .filter-ways .filter-way {
  margin: 10px;
  color: black;
  font-family: "Open Sans Condensed";
}
.shop-block .filter-ways .filter-way a {
  color: black;
}
.shop-block .row {
  flex-wrap: wrap;
  flex-direction: row;
}
.shop-block .row [class*="col-"] {
  margin: 0;
}
.shop-block .row .product-table {
  background-color: rgba(0, 0, 0, 0.11);
  padding: 5px;
}
.shop-block .row .product-table .product-cart-title {
  font-family: "Open Sans Condensed";
  font-size: 20px;
}
.shop-block .row .product-table .product-desc {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 15px;
}
.product-img {
  width: 100%;
}
.delivery-block .cart {
  align-items: flex-start;
}
.delivery-block .cart a {
  display: flex;
  flex-direction: row;
  color: #287460;
}
.carrousel-box {
  display: flex;
}
.carrousel-box a {
  max-width: 50%;
}
.carrousel-box a:hover img {
  transform: scale(1.03) translateZ(0);
}
.carrousel-box a:hover {
  transition: black 0.2s ease-out;
}
.carrousel-box a img {
  width: 100%;
}
/*laptop*/
/*only mobile*/
